<html>
<head>
    <meta charset="UTF-8">
    <title>Add food</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div class="hero">
        <div class = "form-box">
            <div type = "text" class = "center-text"> Добавление еды</div>

            <form id = "forgot" class="input-group">
                 <input type="text"  id = "food" class="input-field" placeholder="Еда" required>
                <input type="text"  id = "b" class="input-field" placeholder="Белки" required>
                <input type="text"  id = "j" class="input-field" placeholder="Жиры" required>
                <input type="text"  id = "u" class="input-field" placeholder="Углеводы" required>

                 <input type="text" id = "kkal" class="input-field" placeholder="Ккал" required>
                 <br>
                 <br>
                <button id= "addfood-btn" type="submit" class="submit-btn">Добавить</button>
            </form>
        </div>
    </div>
    <script src = "../static/javascript/addfood.js"></script>
    <script src="../static/node_modules/jquery/dist/jquery.js"></script>
</body>
</html>